.menu-container {
  position: relative;
}
.menu {
  position: absolute;
  z-index: 1000;
  background: whitesmoke;
  display: none;
}

.menu-container .menu {
  display: flex;
  flex-direction: column;
}
.menu a {
  width: 100%;
  min-width: 8rem;
}

header {
  background-color: rgb(0 0 0 / 0.8);
}

.searchDiv {
  border: solid white 1px;
}

.searchDiv .input {
  background-color: black;
  color: white;
  outline: none;
}
