<app-header [userImg]="picture"></app-header>

<ng-container>
  <app-banner
    [bannerDetails]="bannerDetails"
    [bannerVideo]="bannerVideo"
  ></app-banner>

  <app-movie-carousel
    [moviesList]="movies"
    [title]="'Popular on Netflix'"
  ></app-movie-carousel>
  <app-movie-carousel
    [moviesList]="tvShows"
    [title]="'Trending TV shows'"
  ></app-movie-carousel>
  <app-movie-carousel
    [moviesList]="upcomingMovies"
    [title]="'Upcoming Movies'"
  ></app-movie-carousel>
  <app-movie-carousel
    [moviesList]="topRatedMovies"
    [title]="'Top Rated Movies'"
  ></app-movie-carousel>
</ng-container>
